{#
  Nunjucks Templating!
  Homepage: https://mozilla.github.io/nunjucks/
  Docs: https://mozilla.github.io/nunjucks/api.html
#}

{% extends 'layouts/application.html' %}

{% block content %}
  <div class="neat-container">
    <div class="neat-row">
      <div class="zoomViewport">
        <div class="zoomContainer">
          <img class="zoomTarget bracket__quad" data-closeclick="true" data-targetsize="1.1" src="http://media.miamiherald.com/static/media/projects/2017/munch-madness/images/TopLeft-box-01_03-20.svg" alt="TopLeft">
          <img class="zoomTarget bracket__quad" data-closeclick="true" data-targetsize="1.1" src="http://media.miamiherald.com/static/media/projects/2017/munch-madness/images/TopRight-box-01.svg" alt="TopRight">
          <img class="zoomTarget bracket__quad" data-closeclick="true" data-targetsize="1.1" src="http://media.miamiherald.com/static/media/projects/2017/munch-madness/images/BottomLeft-box-01.svg" alt="BottomLeft">
          <img class="zoomTarget bracket__quad" data-closeclick="true" data-targetsize="1.1" src="http://media.miamiherald.com/static/media/projects/2017/munch-madness/images/BottomRight-box-01.svg" alt="BottomRight">
        </div>
      </div>
    </div>
  </div>
{% endblock %}
