{#
  Nunjucks Templating!
  Homepage: https://mozilla.github.io/nunjucks/
  Docs: https://mozilla.github.io/nunjucks/api.html
#}

{% extends 'layouts/application.html' %}

{% block content %}
  <div class="neat-container">
    <div class="neat-row">
      <div class="zoomViewport">
        <div class="zoomContainer">
          <img class="zoomTarget bracket__full" data-closeclick="true" data-targetsize="1.6" src="http://media.miamiherald.com/static/media/projects/2017/munch-madness/images/FullBracket-box-01_03-31.svg" alt="FullBracket">
        </div>
      </div>
    </div>
  </div>
{% endblock %}
